body{

}

.imagen{
    height: 10rem;
    width: 20rem;
    transition: 0.5s ease-in-out;
}

.plato .imagen:hover{
    padding: -4%;
    border-radius: 40px;
    transition: 0.5s;
}

.plato:hover{
    margin: -3%;
    transition: 0.5s ;
}

.plato{
    border-style: solid;
    border-color: rgba(50, 155, 253, 0.61);
    border-width: 1px;
    transition: 0.5s ease-in-out;

}

h2{
    font-family: fantasy;
}