body{

    background-size: cover;
    background-repeat: no-repeat;
    
}

.imagen{
    height: 10rem;
    width: 15rem;
    transition: 0.5s ease-in-out;
}

.plato .imagen:hover{
    padding: 4%;
    border-radius: 40px;
    transition: 0.5s;
}

.plato:hover{
    margin: 3%;
    transition: 0.5s ;
}

.plato{
    background-color: rgba(0, 0, 0, 0.479);
    border-style: solid;
    border-color: rgb(80, 255, 153);
    border-width: 1px;
    transition: 0.3s ease-in-out;

}